ENABLE_ADS=false
ENABLE_FIREBASE=false
ENABLE_ANALYTICS=false
REMOTE_CONTENT_ENDPOINT=
ADMOB_REWARDED_ANDROID_TEST_ID=ca-app-pub-3940256099942544/5224354917
IAP_SMALL_COIN_PACK=small_coin_pack
IAP_MEDIUM_COIN_PACK=medium_coin_pack
IAP_LARGE_COIN_PACK=large_coin_pack
