ADMOB_REWARDED_AD_UNIT_ID_ANDROID=ca-app-pub-3940256099942544/5224354917
FIREBASE_ENABLED=false
ANALYTICS_ENABLED=false
CRASHLYTICS_ENABLED=false
REMOTE_CONTENT_ENDPOINT=
IAP_SMALL_COIN_PACK=bible_riddle_small_coin_pack
IAP_SUPPORTER_EDITION=bible_riddle_supporter
DEBUG_DISABLE_ADS=true
